body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-image: url('assets/flower4.jpg');
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff69f3bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4314;
}

#stories {
    display: none;
}

.story {
    background: rgba(182, 106, 58, 0.76);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#story3 {
    background-color: rgba(96, 168, 192, 0.852); /* Light blue */
}

@keyframes float {
    0% { transform: translateY(100vh) rotate(0deg); }
    100% { transform: translateY(-100px) rotate(360deg); }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .story {
        max-width: 90%;
        padding: 15px;
        margin: 10px;
        min-height: 300px;
    }

    button {
        padding: 12px 24px;
        font-size: 18px;
    }


}
